<div class="container">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-primary mt-2 yesMatch checkoutButton" style="width:100%; overflow-wrap:break-word">I
                confirm taking responsibility for the assistance <br class="d-md-none">requests I have chosen <br class="d-lg-none">
                below and I have noted down <br>the
                necessary information about this request.</button>

        </div>
        {{#each response}}
        <div class="col-12 yesMatch col-lg-6" style="display:none">
            <div class="card my-3 p-3 w-100" request-id={{this.request_id}}>
                <div class="row topRow my-2">
                    <div class="col-6 requestId">
                        <div class="badge badge-warning">Request Id: {{this.request_id}}</div>
                    </div>
                    <div class="col-6 text-right match">
                        <div class="badge badge-primary ">Match: </div>
                    </div>
                </div>
                <div class="row middleRow">
                    <div class="col-4" style="max-width:fit-content;">
                        <img src={{this.photo}} class="img-thumbnail" style="max-width:150px; max-height:150px">
                    </div>
                    <div class="col-8 px-5 mr-auto seekerName">
                        <h3>{{this.seeker_name}}</h3>
                    </div>
                </div>
                <div class="row bottomRow">
                    <div class="col-8">Phone Number: {{this.phone}}</div>
                    <div class="input-group-text ml-auto mr-3">
                        <div class="col-4">
                            <input type="Checkbox">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        <div class="col-12 noMatch mt-3" style="display:none">
            <h3>Sorry, there are no help requests that fit your profile right now. Please check again later and thank
                you for being a helper.</h3>
        </div>
    </div>
</div>

<script src="js/helpList.js"></script>